<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Add new Cafe</h1>
    <form action="/add" method="post">
        <input type="text" name="name" placeholder="enter the name of cafe" required>
        <input type="text" name="phone" placeholder="enter the phone number of cafe">
        <button type="submit">Submit</button>
    </form>
</body>
</html>